# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
# Arquivos gerados pelos modelos
previsoes_arima.csv
previsoes_knn.csv
previsoes_random_forest.csv
previsoes_rnn.csv
*.pdf
previsoes_tcn.csv
previsoes_seq.csv
previsoes_lstm.csv
previsoes_gru.csv
previsoes_rf.csv
metrics_plot.jpg
ARIMA_model_results.csv
GRU_model_results.csv
KNN_model_results.csv
RNN_model_results.csv
TCN_model_results.csv
RandomForest_results.csv
shared_model_difference_list.csv
shared_model_metrics.csv
shared_model_metrics_list.csv
KNN_results.csv
log_chart.png
prediction_chart.png
rnn_model_summary.txt
GRU_model_metrics.txt   
RNN_model_metrics.txt
LSTM_model_metrics.txt  
TCN_model_metrics.txt
LSTM_model_results.csv
/venv-Horus/
prediction_plot.jpg
*.jpg



# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
/.venv