@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
}

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f7f9;
}

::-webkit-scrollbar-thumb {
  background: #96adb6;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1f6e7e;
}
